<main class="container-fluid main-center">
  <h2>Movies list</h2>
  {{#if isLoggedIn}}
    <a href="/movies/create-movie"><button
        class="btn btn-success create-btn-margin"
      >Add movies</button></a>
  {{/if}}
  <form action="/movies/search" method="GET" class="search-form">
    <input
      type="search"
      class="myInput"
      placeholder="Search for names here"
      name="searchName"
    />
    <input type="submit" class="btn btn-secondary" value="Search" />
  </form>
  {{#if dbError}}
    <p>There is an error try again later.</p>
  {{else}}
    {{#if movies.length}}
      <ul class="ul-padding-left-reset">
        {{#each movies}}
          <div class="showBox">
            <li class="show-list">
              <h2 class="name">{{name}}</h2>
              <div class="suggestion-content">
                <div class="suggestion-content-text">
                  <p>IMDb rating {{rating}}/10</p>
                  <p>Released in {{released}}</p>
                  <p>My recommendation {{recommendation}}/10</p>

                  <a href="/movies/movie/{{id}}"><button
                      class="btn btn-warning"
                    >See more details</button>
                  </a>
                </div>
                {{#if picture}}
                  <div class="suggestion-img">
                    <img src="{{picture}}" alt="{{name}}" />
                  </div>
                {{/if}}
              </div>
            </li>
          </div>
        {{/each}}
      </ul>
    {{else}}
      <p class="p-dark">There are no recommended movies yet.</p>
    {{/if}}

  {{/if}}
</main>