<main class="container-fluid main-center">
  <h2>Update Movie details.</h2>

  {{> general-errors errors}}
  {{#if isLoggedIn}}
    <form
      action="/movies/update-movie/{{movie.id}}"
      method="POST"
      class="forms"
    >
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">* Movie name</span>
        <input
          type="text"
          name="name"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          value="{{movie.name}}"
        />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">* Story</span>
        <textarea
          type="text"
          name="story"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
        >{{movie.story}}</textarea>
      </div>

      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">* IMDb Rating</span>
        <input
          type="number"
          name="rating"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          value="{{movie.rating}}"
        />
      </div>

      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">* Release
          "year"</span>
        <input
          type="number"
          name="released"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          value="{{movie.released}}"
        />
      </div>

      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">*
          Recommendation</span>
        <input
          type="number"
          name="recommendation"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          value="{{movie.recommendation}}"
        />
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">- Picture URL</span>
        <input
          type="text"
          name="picture"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
          value="{{movie.picture}}"
        />
      </div>
      <input type="hidden" name="status" value="seen" />

      <input
        type="submit"
        value="Update movie"
        class="btn btn-success width-fill"
      />
    </form>
  {{else}}
    <p>You need to be logged in to update this movie's details.</p>
  {{/if}}
</main>